repos:
  - repo: local
    hooks:
      - id: cargo-check
        name: cargo check
        entry: cargo check --workspace --all-targets -q
        language: system
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt (check)
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        types: [rust]

      - id: cargo-clippy
        name: cargo clippy
        # Fail on warnings
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        pass_filenames: false
        types: [rust]

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace --all-targets -q
        language: system
        pass_filenames: false
        types: [rust]
        
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.8
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format
